<f:variable name="teaserClass">
  <f:if condition="{settings.flex} == 1">
    <f:then>cgb_teaser-flex</f:then>
    <f:else>cgb_teaser-float</f:else>
  </f:if>
</f:variable>

<div class="cgb_teaser-wrap {teaserClass}">
  <f:for each="{pages}" as="page" iteration="iterator">
    <div class="cgb_teaser-teaser {teaserClass}">
      <f:link.page pageUid="{page.uid}" linkAccessRestrictedPages="true">
        <f:variable name="additionalClass">
          <f:if condition="{iterator.isFirst} && ({settings.height} == 2)">
            <f:then>cgb_teaser-extend</f:then>
            <f:else if="{settings.height} == 3">cgb_teaser-extend</f:else>
            <f:else>cgb_teaser-normal</f:else>
          </f:if>
        </f:variable>

        <div class="cgb_teaser-teaser_{iterator.index}">
          <div class="cgb_teaser-innerwrap {teaserClass} {additionalClass}">
            <f:image src="{page.image.uid}" treatIdAsReference="1" />
            <f:format.stripTags>{page.teasertext}</f:format.stripTags>                  
            <div class="cgb_teaser-fader"></div>
          </div>
        </div>
      </f:link.page>
      
    </div>
    <!-- {page.page.tx_cgbteaser_teasertype}
    <f:image src="EXT:cgb_teaser/Resources/Public/Icons/movie.png" />
    -->
  </f:for>
  <div style="clear: both"></div>
</div>


